<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Login - QuizzApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <style>
    body {
      background-color: #eef2ff;
      font-family: 'Segoe UI', sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .card {
      width: 100%;
      max-width: 400px;
      padding: 30px;
      border-radius: 16px;
      box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    }

    .btn {
      width: 100%;
    }

    .signup-link {
      margin-top: 10px;
      display: block;
      text-align: center;
    }
  </style>
</head>
<body>

	<div class="card">
	  <h3 class="text-center mb-4">Login</h3>

	  <form action="/api/auth/login" method="post">
	    <input type="hidden" id="roleInput" name="role" value="USER" />

	    <div class="mb-3">
	      <label for="username" class="form-label">Username</label>
	      <input required type="text" class="form-control" id="username" name="username" />
	    </div>

	    <div class="mb-3">
	      <label for="email" class="form-label">Email</label>
	      <input required type="email" class="form-control" id="email" name="email" />
	    </div>

	    <div class="mb-3">
	      <label for="password" class="form-label">Password</label>
	      <input required type="password" class="form-control" id="password" name="password" />
	    </div>

	    <button type="submit" class="btn btn-primary">Login</button>
	  </form>

	  <a href="/signup" class="login-link">Dont have an account? Register</a>
	</div>
  <script>
   
  </script>

</body>
</html>
